.btn {
  position: relative;
  padding: 0;
  width: 80px;
  height: 18px;
  border: 0;
  outline: 0;
  border-radius: $border-radius;
  background-image: linear-gradient(to bottom, rgb(242,242,242) 30%, rgb(226,226,226) 100%);
  font-size: 11px;
  line-height: 18px;
  text-shadow: 0 1px 0 rgba($color-white, .75);
  vertical-align: middle;
  cursor: pointer;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;
    border-radius: calc(#{$border-radius} + 1px);
    background-image: linear-gradient( to bottom, rgba($color-black, .1) 0%, rgba($color-black, .35) 100%);
  }

  &:before {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    background-image: linear-gradient( to bottom, rgb(254,255,235) 30%, rgb(253,255,204) 70%);

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }

  &:active {
    box-shadow: inset 0 2px 3px rgba($color-black, .26);
    background-image: linear-gradient(to bottom, rgb(242,242,242) 30%, rgb(226,226,226) 100%);
    line-height: 19px;
    text-shadow: 0 -1px 0 rgba($color-white, .75);

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}
